<nav class="navbar sticky-top navbar-light bg-light">
    <div class="title">
        <a class="navbar-brand" href="#">GENERIC NAME GOES HERE</a>
    </div>
    <ul class="navbar-nav">

    </ul>
    <div class="btn-group">
        <button class="btn btn-primary" app-login></button>
        <div class="btn-group" ngbDropdown placement="bottom-right" role="group">
            <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item">Sign Up</button>
                <button class="dropdown-item">Help</button>
            </div>
        </div>
    </div>
</nav>