.background-image {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
}

#body-text {
    padding: 10%;
    padding-top: 5%;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
}