<div class="card">
  <div class="card-header">
    <h1 class="display-3">Water</h1>
    <p class="lead">Every year, x amount of plastic is wasted making plastic water bottles. THINK OF THE CHILDREN! Actual research will go
      here hopefully sometime in the forseeable future.
    </p>
  </div>
  <div class="card-block">
    <div class="btn-group">
      <label class="btn btn-primary active">Take my Money!</label>
      <label class="btn btn-primary">Sign Up</label>
    </div>
  </div>
</div>

<div class="row vertical-spaced">
  <div class="col-sm">
    <div class="card">
      <div class="card-block">
        <h2 class="display-4">Step 1:</h2>
        <p class="lead">Buy Generic Product Name</p>
      </div>
      <div class="card-footer">
        <img src="../assets/water.jpg" class="img-circle">
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-block">
        <h2 class="display-4">Step 2:</h2>
        <p class="lead">Track your water usage</p>
      </div>
      <div class="card-footer">
        <img src="../assets/water.jpg" class="img-circle">
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-block">
        <h2 class="display-4">Step 3:</h2>
        <p class="lead">Get a life</p>
      </div>
      <div class="card-footer">
        <img src="../assets/water.jpg" class="img-circle">
      </div>
    </div>
  </div>
</div>